
.login_logo{
	width:1.38rem;
	padding:.7rem 0 .36rem 0;
	margin:0 auto;
	text-align:center;
}
.loginForm{
	margin:0 .14rem;
}
.loginTitle{
	padding-left:.28rem;
	color:#1e1e1e;
}
.loginForm li{
	border-bottom:solid 1px #e9e9e9;
	background-repeat:no-repeat;
	padding-left:.55rem;
	line-height:.5rem;
	font-size:.18rem;
	position:relative;
	padding-bottom:1px;
}
.loginForm li input{
	height:.5rem;
	width:100%;
	font-size:.18rem;
}
.loginMobile{
	background-size:.2rem auto;
	background-image: url(../../../static/images/icon_phone.png);
	background-position:.14rem center;
}
.loginPwd{
	background-size:.2rem auto;
	background-image: url(../../../static/images/icon_lock.png);
	background-position:.15rem center;
}
.loginBottom{
    overflow: hidden;
    padding: 0 .14rem;
}
.loginBottom a {
	padding-top:.33rem;
    color:#007aff;
}

.loginBottom a:first-child {
    text-align: left;
}

.loginBottom a:last-child {
    text-align: right;
}
.eyes{
	position:absolute;
	height:100%;
	width:.4rem;
	background-image: url(../../../static/images/mine_eye_close.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-size:.22rem auto;
	right:0;
	top:0;
}
.openEyes{
	background-image: url(../../../static/images/mine_eye_open.png);
}
