body,html{
  background: url('../images/inviteRegister-bg.png');
}
.readA{
  color:#ffe65e;
  padding-left:.05rem;
  text-decoration: underline;
}

.registerMobile{
  color:#000;
}
.login_logo{
  width:100%;
  margin:0 auto;
  text-align:center;
}
.registerMobile .inputList{
  background: transparent;
  border:none;
}
.registerMobile .inputList li{
  background: #fff;
  border-radius: 5px;
  border-color:#f3f3f3;
  border: 1px solid #f1f1f1;
}
.loginText a{
  color:#fff;
}
.padding2{
  padding: 0 0.19rem;
}
.recommendText{
  display:none;
  padding-top:.1rem;
  color:#ffe65e;
}
a.button{
  background: #ffe65e;
}
.bodyBottom{
  color:#ffe65e;
}
a.disButton{
  color:#969696;
}

