.wraper{
	height: 100%;
}
.title{
	height: .5rem;
	display: flex;;
	align-items: center;
}
.title h2{
	font-size: .18rem;
	color: #4e585f;
	font-weight: 700;
	margin-left: .16rem;
	padding-left: .12rem;
	border-left: .04rem solid #7e99ce;
}

.org-container .listMore{
	display: none;
}
.org-list{
	background-color: #fff;
	overflow: hidden;
	margin-bottom: .18rem;
}
.org-list:last-child{
	margin-bottom: 0;
}
.org-list .top{
	width: 100%;
	height: .48rem;
	border-bottom: 1px solid #f9f9f9;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.org-list .icon{
	display: block;
	width: .68rem;
	height: .3rem;
	padding-left: .16rem;
}
.org-list .withdraw{
	padding-right: .3rem;
	font-size: .16rem;
	color: #929398;
}
.org-list .bottom{
	display: flex;
	height: 1rem;
}
.org-list .bottom .left,
.org-list .bottom .right{
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.org-list .bottom h2{
	font-size: .2rem;
	color: #434b51;
	font-family: DINOT;
}
.org-list .bottom p{
	font-size: .14rem;
	color: #929398;
	line-height: 2;
}

.tab{
	width: 100%;
	display:flex;
	background-color: #fff;
	height:.5rem;
	line-height:.5rem;
	text-align: center;
	border-bottom: 1px solid #f7f7f7;
}

.tab > div{
    flex:1;
    box-sizing: border-box;
}
.tab > div span{
	display: block;
	font-size: .16rem;
	color: #666;
	width: 1.9rem;
	height: 100%;
	margin: 0 auto;
	box-sizing: border-box;
}
.tab > div.active span{
	border-bottom: 1px solid #bfcbe3;
	color: #7e99ce;
}

.tab a{
	font-size: .16rem;
	color:#969696;
}

.tab a.active{
	display:inline-block;
    color:#fd5353;
    border-bottom: 2px solid #fd5353;
    height:100%;
    width:70%;
}
.recording-item{
	background-color: #fff;
	margin-bottom: .16rem;
}

.product-intro{
	border-bottom: 1px solid #f9f9f9;
}
.recording .top{
	height: .56rem;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	padding:0 .16rem;
}
.recording .top img{
	width: .62rem;
	padding-right: .2rem;
}
.recording .top p{
	width: 3rem;
	font-size: .16rem;
	color: #929398;
}
.recording .bottom{
	padding: 0 .16rem;
	font-size: .14rem;
	color: #929398;
	padding-bottom: .2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: .26rem;
}
.recording .bottom span{
	display: block;
	font-size: .12rem;
	color: #7e99ce;
	padding: .04rem;
	border:1px solid #7e99ce;
	border-radius: 5px;
}
.product-detail{
	padding: .1rem .16rem;
}
.detail-item{
	height: .3rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.detail-item span:first-child{
	color: #999;
	font-size: .16rem;
}
.detail-item span:last-child{
	font-size: .18rem;
	color: #4f5960;
	font-family: DINOT;
}
.empty-org-container{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 1.6rem;
	margin: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.empty-org-container img{
	width: 1.84rem;
}
.empty-org-container p{
	color: #a8a7ac;
	font-size: .18rem;
	padding-top: .1rem;
}
.recording-empty-container{
	width: 100%;
	padding: .5rem 0;
	text-align: center;
}
.recording-empty-container img{
	width: 1.84rem;
}
.recording-empty-container p{
	text-align: center;
	color: #a8a7ac;
	font-size: .18rem;
	padding-top: .1rem;
}
