<ul class="numKeyboard" id="myKeyboard">
	<li><label data-number="1">1</label></li>	
	<li><label data-number="2">2</label></li>
	<li><label data-number="3">3</label></li>	
	<li><label data-number="4">4</label></li>
	<li><label data-number="5">5</label></li>
	<li><label data-number="6">6</label></li>
	<li><label data-number="7">7</label></li>
	<li><label data-number="8">8</label></li>
	<li><label data-number="9">9</label></li>
	<li><span class="dropdown"></span></li>
	<li><label data-number="0">0</label></li>
	<li><span class="backspace"></span></li>
</ul>