.main {
  position: relative;
  overflow: hidden;
}
.product-main-wrapper {
  width: 100%;
  background-color: #fff;
}
.product-main-wrapper .product-main {
  padding-top: .36rem;
  text-align: center;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: .2rem;
}
.product-main-wrapper .product-main h2 {
  text-align: center;
  color: #969696;
  font-size: .14rem;
  padding: 0 .7rem;
}
.product-main-wrapper .product-main .year-rate {
  padding-top: .36rem;
  padding-bottom: .16rem;
  letter-spacing: 0.01656rem;
  color: #fd5353;
  text-align: center;
  line-height: 1em;
  font-family: DINOTMedium;
}
.product-main-wrapper .product-main .year-rate b {
  font-weight: normal;
  font-size: 0.4416rem;
  line-height: 1em;
}
.product-main-wrapper .product-main .year-rate span {
  font-size: 0.1656rem;
  line-height: 1em;
}
.product-main-wrapper .year-rate-text {
  font-size: 0.15456rem;
  color: #969696;
}
.product-main-wrapper .product-main .income-content {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding: .4968rem .1656rem 0.3312rem;
}
.product-main-wrapper .product-main .income-content > div p:first-child {
  color: #969696;
  font-size: 0.13248rem;
  line-height: 1em;
}
.product-main-wrapper .product-main .income-content > div p:last-child {
  padding-top: 0.1104rem;
  font-size: 0.17664rem;
  color: #323232;
  line-height: 1em;
  font-family: DINOTMedium;
}
.product-main-wrapper .product-main .income-content > div p:last-child span {
  font-size: 0.13248rem;
}
.income-content > div p:last-child .unit{
  color: #969696;
}
.product-main-wrapper .product-main .progress-wrapper {
  width: 100%;
}
.product-main-wrapper .product-main .progress-wrapper .progress-bg {
  width: 100%;
  height: 0.0552rem;
  background-color: #dcdcdc;
}
.product-main-wrapper .product-main .progress-wrapper .progress-bg .progress-active {
  width: 26%;
  height: 100%;
  background-color: #7e99ce;
  border-top-right-radius: 0.0276rem;
  border-bottom-right-radius: 0.0276rem;
}
.progress-text {
  text-align: left;
  height: 0.25392rem;
  line-height: 0.25392rem;
  color: #969696;
  font-size: 0.13248rem;
  transform: translatex(-0.26496rem);
}
.profit-calc-wrapper {
  width: 100%;
  background-color: #fff;
  margin-bottom: .2rem;
}
.profit-calc-wrapper .profit-calc {
  height: 0.552rem;
  line-height: 0.552rem;
  padding: 0 0.1656rem;
}
.profit-calc-wrapper .profit-calc > p {
  float: left;
  font-size: 0.15456rem;
  line-height: 0.552rem;
  color: #666;
}
.profit-calc-wrapper .profit-calc .calculator-box {
  float: right;
}
.profit-calc-wrapper .profit-calc .calculator-box img {
  width: 0.3036rem;
}
.product-intro-wrapper {
  background-color: #fff;
  padding-bottom: .2rem;
  margin-bottom: .2rem;
}
.product-intro-wrapper .product-intro {
  padding:.16rem .16rem 0;
}
.product-intro-wrapper .product-intro .product-intro-title {
  padding-bottom: 0.14352rem;
  height: 0.14352rem;
  overflow: hidden;
  display: table;
  vertical-align: middle;
}
.product-intro-wrapper .product-intro .product-intro-title h2 {
  display: table-cell;
  font-size: 0.15456rem;
  line-height: 1.3em;
  vertical-align: middle;
}
.product-intro-wrapper .product-intro .product-intro-title > p {
  display: table-cell;
  vertical-align: middle;
}
.product-intro-wrapper .product-intro .product-intro-title > p span {
  display: none;
  float: left;
  border: 1px solid #4e8cef;
  border-radius: 0.03312rem;
  vertical-align: middle;
  margin-left: 0.1104rem;
}
.product-intro-wrapper .product-intro .product-intro-title > p span b {
  font-weight: normal;
  display: block;
  padding: 0.0276rem .04416rem;
  font-size: 0.1104rem;
  color: #4e8cef;
  line-height: 1em;
  margin-top: 2px;
}
.product-intro-wrapper .product-intro .product-quota {
  padding-bottom: .14352rem;
}
.product-intro-wrapper .product-intro .product-quota p {
  float: left;
  padding-right: 0.138rem;
  font-size: 0.13248rem;
  color: #666666;
}
.product-desc{
  overflow: hidden;
}
.product-intro-wrapper .product-intro .product-desc-inner {
  overflow: hidden;
}
.product-intro-wrapper .product-intro .open-icon {
  height: 0.276rem;
  text-align: center;
  display: none;
}
.product-intro-wrapper .product-intro .open-icon img {
  width: 0.138rem;
}
.product-org-wrapper {
  background-color: #fff;
}
.product-org-wrapper .product-org .top {
  padding: 0.1656rem;
  display: flex;
  align-items: center;
}
.product-org-wrapper .product-org .top .platform-logo {
  display: inline-block;
  box-sizing: border-box;
  width: 1.06536rem;
  height: 0.46368rem;
  border: 1px solid #efefef;
  text-align: center;
  border-radius: 3px;
}
.product-org-wrapper .product-org .top .platform-logo img {
  display: inline-block;
  width: 80%;
  vertical-align: middle;
}
.product-org-wrapper .product-org .top .org-level {
  display: inline-block;
  font-size: 0.15456rem;
  color: #4f5960;
  padding-left: 0.276rem;
}
.product-org-wrapper .product-org .bottom {
  padding: 0.0828rem 0.1656rem 0.20976rem;
  text-align: left;
  font-size: 0.15456rem;
  color: #4f5960;
  line-height: 1em;
}
.lvdun-wrapper {
  width: 100%;
}
.lvdun-wrapper .lvdun {
  text-align: center;
  height: 0.58512rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lvdun-wrapper .lvdun img {
  width: 0.23184rem;
  padding-right: 0.138rem;
}
.lvdun-wrapper .lvdun span {
  font-size: 0.13248rem;
  color: #999;
}
.oneFlex{
  flex: 1;
}
/*平台信息结束*/

.footer{
   position: fixed;
   bottom:0;
   left:0;   
   height:.60rem;
   line-height: .60rem;
   background-color: #fff;
   width:100%;
   color:#fff;
   text-align: center;
   font-size: .2rem;
}

.footer > a{
   font-size: .16rem;
   color:#fff;
   display: none;
}

.footer-item {
    float: left;
    cursor: pointer;
}

.footer-item.text {
    width: 100%;
    box-sizing: border-box;
    background: #7e99ce;
    height: 0.60rem;
}
.footer-item span{
  display:block;
}
.footer-item span[data-static="1"] {
  font-size: 0.2rem;
  line-height: 0.36rem;
}
.footer-item span[data-static="0"] {
  display: inline-block;
}
.checkInvest{
  font-size: 0.12rem;
  color: rgba(255,255,255,0.6);
  line-height: 0.22rem;
}

.gray{
  color:#dcdcdc!important;
}

.footer-item .sub-text {
    font-size: .17rem;
    font-style: normal;
    display: none;
}

.footer-item .show-sub {
    display: inline;
}
.ios-fixed-hack{
  height: .6rem;
}