<div class="circleProgress_wrapper">
    <div class="circleProgress circleProgress_bg"></div>
    <div class="circleProgress_half circleProgress_left">
        <div class="circleProgress circleProgress_over"></div>
    </div>
    <div class="circleProgress_half circleProgress_right">
        <div class="circleProgress circleProgress_over"></div>
    </div>
    <div class="point_wraper">
        <div class="point_num"></div>
    </div>
</div>